<div class="mx-auto w-full max-w-xl flex-0 px-6 pt-10 text-sm">
  <footer class="woodpecker-footer flex w-full flex-col justify-between bg-no-repeat bg-bottom bg-contain bg-origin-content">
    <nav
      class="display-inline flex flex-col items-center gap-1 pt-4 text-center text-xs text-foreground min-h-[4rem]"
    >
      <a href="/" class="hover:text-primary">Home</a>
      <!-- <a href="/about" class="hover:text-primary">About</a> -->
      <a href="/contact" class="hover:text-primary">Contact</a>
    </nav>

    <div class="flex items-end justify-between gap-3 text-xs text-foreground">
      <div class="flex gap-2 px-2 text-2xl">
        <a
          href="https://github.com/martinjaime"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          class="hover:text-primary"
        >
          <i class="ti ti-brand-github"></i>
        </a>
        <a
          href="https://linkedin.com/in/mrtnjaime"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="hover:text-primary"
        >
          <i class="ti ti-brand-linkedin"></i>
        </a>
      </div>
      <a
        href="https://xkcd.com/614/"
        target="_blank"
        rel="noopener noreferrer"
        class="px-1 pb-0.25 hover:text-primary"
      >
        xkcd.com
      </a>
    </div>
  </footer>
</div>
