<div class="mx-auto max-w-xl w-full px-6 pt-10 text-sm flex-0">
  <footer class="woodpecker-footer flex flex-col justify-between w-full">
    <nav class="flex flex-col pt-4 items-center gap-1 text-xs text-center text-foreground display-inline">
      <a href="/" class="hover:text-primary">Home</a>
      <!-- <a href="/about" class="hover:text-primary">About</a> -->
      <!-- <a href="/contact" class="hover:text-primary">Contact</a> -->
    </nav>

    <div class="flex items-end justify-between text-xs text-foreground gap-3">
      <div class="flex px-2 gap-2 text-2xl ">
        <a href="https://github.com/martinjaime" target="_blank" rel="noopener noreferrer" aria-label="GitHub" class="hover:text-primary">
          <i class="ti ti-brand-github"></i>
        </a>
        <a href="https://linkedin.com/in/mrtnjaime" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" class="hover:text-primary">
          <i class="ti ti-brand-linkedin"></i>
        </a>
      </div>
      <a href="https://xkcd.com/614/" target="_blank" rel="noopener noreferrer" class="pb-0.25 px-1 hover:text-primary">
        xkcd.com
      </a>
    </div>
  </footer>
</div>
