---
import "@/styles/global.css"
import Nav from "@/components/Nav"
import Footer from "@/components/footer.astro"

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/favicon-dark.svg" rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)" />
    <title>Martin Jaime{title ? `: ${title}` : ""}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Nav currentPath={Astro.url.pathname} client:load />
    <main class="flex-1 w-full mx-auto max-w-xl px-6 pt-10 w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
