---
import Layout from "@/layouts/main.astro"
import type { ProjectFrontmatter } from "@/lib/types"
import type { MarkdownLayoutProps } from "astro"

type Props = MarkdownLayoutProps<ProjectFrontmatter>
const { frontmatter } = Astro.props
const isPublished = frontmatter.state === "published"
---

<Layout title={frontmatter.title}>
  <div class="post-content">
    {
      !isPublished ? (
        <p class="text-center font-bold text-foreground">
          {" "}
          This project abstract is not [yet] published.
        </p>
      ) : (
        <slot />
      )
    }
  </div>
</Layout>
